/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */

.custom-theme {
--f7-button-color: rgb(194, 56, 56);
--tab-link-active-color : rgb(194, 56, 56);
}
